
<aside id="sidebar" class="sidebar break-point-sm has-bg-image @(IsCollapsed ? "collapsed" : "") @(IsToggled ? "toggled" : "")">
    <a @onclick="BtnCollapseClicked" id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
    <div class="image-wrapper">
        @* <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" /> *@
    </div>
    <div class="sidebar-layout">
        <div class="sidebar-header">
            <div class="pro-sidebar-logo">
                <div>P</div>
                <h5>Pro Sidebar</h5>
            </div>
        </div>
        <div class="sidebar-content">
            <nav class="menu open-current-submenu">
                <ul>
                    <li class="menu-header"><span> GENERAL </span></li>
                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon">
                                <i class="ri-vip-diamond-fill"></i>
                            </span>
                            <span class="menu-title">Components</span>
                            <span class="menu-suffix">
                                <span class="badge primary">Hot</span>
                            </span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Grid</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Layout</span>
                                    </a>
                                </li>
                                <li class="menu-item sub-menu">
                                    <a href="#">
                                        <span class="menu-title">Forms</span>
                                    </a>
                                    <div class="sub-menu-list">
                                        <ul>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span class="menu-title">Input</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span class="menu-title">Select</span>
                                                </a>
                                            </li>
                                            <li class="menu-item sub-menu">
                                                <a href="#">
                                                    <span class="menu-title">More</span>
                                                </a>
                                                <div class="sub-menu-list">
                                                    <ul>
                                                        <li class="menu-item">
                                                            <a href="#">
                                                                <span class="menu-title">CheckBox</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">
                                                                <span class="menu-title">Radio</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-item sub-menu">
                                                            <a href="#">
                                                                <span class="menu-title">Want more ?</span>
                                                                <span class="menu-suffix">&#x1F914;</span>
                                                            </a>
                                                            <div class="sub-menu-list">
                                                                <ul>
                                                                    <li class="menu-item">
                                                                        <a href="#">
                                                                            <span class="menu-prefix">&#127881;</span>
                                                                            <span class="menu-title">You made it </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon">
                                <i class="ri-bar-chart-2-fill"></i>
                            </span>
                            <span class="menu-title">Charts</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Pie chart</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Line chart</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Bar chart</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon">
                                <i class="ri-shopping-cart-fill"></i>
                            </span>
                            <span class="menu-title">E-commerce</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Products</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Orders</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">credit card</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon">
                                <i class="ri-global-fill"></i>
                            </span>
                            <span class="menu-title">Maps</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Google maps</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Open street map</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item sub-menu">
                        <a href="#">
                            <span class="menu-icon">
                                <i class="ri-paint-brush-fill"></i>
                            </span>
                            <span class="menu-title">Theme</span>
                        </a>
                        <div class="sub-menu-list">
                            <ul>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Dark</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-title">Light</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-header" style="padding-top: 20px"><span> EXTRA </span></li>
                    
                    @foreach (var menuItem in extraMenuItems)
                    {
                        <li class="menu-item">
                            <a href="@menuItem.Href">
                                <span class="menu-icon">
                                    <i class="@menuItem.Icon"></i>
                                </span>
                                <span class="menu-title">@menuItem.Title</span>
                                @if (menuItem.Suffix != null)
                                {
                                    <span class="menu-suffix">
                                        <span class="badge secondary">Beta</span>
                                    </span>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="sidebar-footer">
            <div class="footer-box">
                <div>
                    <img class="react-logo"
                         src="https://user-images.githubusercontent.com/25878302/213938106-ca8f0485-3f30-4861-9188-2920ed7ab284.png"
                         alt="react" />
                </div>
                <div style="padding: 0 10px">
                    <span style="display: block; margin-bottom: 10px">
                        Pro sidebar is also available as a react package
                    </span>
                    <div style="margin-bottom: 15px">
                        <img alt="preview badge"
                             src="https://img.shields.io/github/stars/azouaoui-med/react-pro-sidebar?style=social" />
                    </div>
                    <div>
                        <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">Check it out!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>


@code {
    [Parameter]
    public bool IsCollapsed { get; set; } = false;

    [Parameter]
    public bool IsToggled { get; set; } = false;

    public void BtnCollapseClicked()
    {
        IsCollapsed = !IsCollapsed;
    }

    private record SubMenuItem(string Href, string Text);
    private record MenuItem(string Href, string Icon, string Title, string? Suffix = null, List<SubMenuItem>? SubMenuItems = null);

    List<MenuItem> extraMenuItems = new List<MenuItem>
    {
        new MenuItem("#", "ri-book-2-fill", "Documentation", "Beta"),
        new MenuItem("#", "ri-calendar-fill", "Calendar"),
        new MenuItem("#", "ri-service-fill", "Examples"),
    };

}
